# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# curl -X 'POST' \
#   'https://todo-redev.herokuapp.com/api/users/register' \
#   -H 'accept: application/json' \
#   -H 'Content-Type: application/json' \
#   -d '{
#   "username": "marry4564522",
#   "email": "exampleg4f45f@example.com",
#   "password": "1Sq_22qw",
#   "gender": "female",
#   "age": 25
# }'